@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,800,900');

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	color: #616161;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;
}
h3 {
	font-size: 2.5rem;
	font-weight: 500;
}
h4 {
	font-size: 2rem;
	font-weight: 500;
}
h5 {
	font-size: 1rem;
	font-weight: 500;
}
p {
	font-size: 1.5rem;
}
a {
	font-size: 1.5rem;
	text-decoration: none;
}
button {
	border: 0;
}
hr {
	background-color: #616161;
	border: 0 solid #616161;
	height: .3rem;
	width: 5rem;
}
img {
	vertical-align: bottom;
	height: auto;
	width: 100%;
}

/* container style */
.container {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
	max-width: 1200px;
	width: 100%;
}

/* home style */
.canvas-bg {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #00111e), to(#033d5e));
	background: -webkit-linear-gradient(#00111e 30%, #033d5e);
	background: -o-linear-gradient(#00111e 30%, #033d5e);
	background: linear-gradient(#00111e 30%, #033d5e);
}
#star-sky {
	vertical-align: bottom;
	height: calc(100vh + 4rem);
	width: 100%;
}
.home {
	position: relative;
}
.home_preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: absolute;
	left: 0;
	top: 0;
	height: calc(100vh + 4rem);
	width: 100%;
}
.home_preview h1 {
	color: #adadad;
	text-shadow: .1rem .1rem .3rem #000000;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}
.home_preview span {
	color: #e31b6d;
}
.home_button {
	border: .2rem solid #adadad;
	color: #adadad;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	margin-top: 3rem;
	padding: 1rem 2rem;
	text-align: center;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
.home_button i {
	-webkit-transition: -webkit-transform .2s ease-in-out;
	transition: -webkit-transform .2s ease-in-out;
	-o-transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
	vertical-align: middle;
}
.home_button.hover {
	background-color: #04C2C9;
	border: .2rem solid #04C2C9;
	color: #ffffff;
}
.home_button i.hover {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

/* navbar style */
.navbar {
	background-color: #1b242f;
	border-bottom: .2rem solid #04c2c9;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	bottom: 0;
	height: 4rem;
	width: 100%;
}
.navbar ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.navbar ul li a {
	color: #ffffff;
	display: block;
	font-size: 1.4rem;
	padding: 0rem 2rem;
	text-transform: uppercase;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
	transition: color .3s;
}
.navbar ul li a.active {
	color: #E31B6D;
}
.navbar.fixed {
	-webkit-animation: slideDown .5s linear;
	        animation: slideDown .5s linear;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
		        transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
		        transform: translateY(0%);
	}
}
@keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
		        transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
		        transform: translateY(0%);
	}
}

/* about style */
.about {
	background-color: #f1f1f1;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
	        clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
	padding: 5rem 0rem;
}
.about_header {
	padding-bottom: 3rem;
}
.about_info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}
.about_info__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 25%;
	padding: 2rem 1rem;
	text-align: center;
}
.about_info__item_image {
	background: url(../images/rombus2.png) center no-repeat;
	background-size: contain;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 11rem;
	height: 10rem;
}
.about_info__item_image i {
	color: #ffffff;
}
.about_me {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-align: left;
	overflow: hidden;
	padding-top: 3rem;
}
.about_me__image {
	background: url(../images/my-photo1.png) top center no-repeat;
	background-size: contain;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	margin: 0rem 4rem;
	width: 25rem;
}
.about_me__description {
	padding: 0rem 2rem 5rem;
}

/* skills style */
.skills {
	padding: 5rem 0;
}
.skills_info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	padding: 2rem;
}
.skills_info__item {
	margin: 1rem;
	padding: 2rem;
	-webkit-box-shadow: .1rem .1rem .5rem #adadad;
	        box-shadow: .1rem .1rem .5rem #adadad;
}
.skills_info__item img {
	max-height: 7rem;
	max-width: 7rem;
}

/* projects style */
.projects {
	background-color: #f1f1f1;
	-webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
	        clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%);
	padding: 5rem 0;
}
.projects_info__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0rem 0rem .9rem #04c2c9;
	        box-shadow: 0rem 0rem .9rem #04c2c9;
	margin: 2rem;
	overflow: hidden;
}
.projects_info__item_image {
	padding: 2rem;
	position: relative;
	width: 55%;
	height: 100%;
}
.projects_info__item_image-desktop {
	padding: 0 5rem 5rem 0;
}
.projects_info__item_image-mobile {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	width: 25%;
}
.projects_info__item_image img {
	border: .5rem solid #b3b3b3;
	border-top: 0;
}
.preview-bar {
	background-color: #b3b3b3;
	border-radius: .5rem .5rem 0 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 1rem;
	height: 2.5rem;
}
.projects_info__item_image span {
	margin-right: .5rem;
	border-radius: 50%;
	height: 1rem;
	width: 1rem;
}
.projects_info__item_image span:nth-child(1) {
	background-color: #ff564f;
}
.projects_info__item_image span:nth-child(2) {
	background-color: #ffb429;
}
.projects_info__item_image span:nth-child(3) {
	background-color: #24c339;
}
.projects_info__item_description {
	padding: 2rem;
	text-align: justify;
	width: 45%;
}
.projects .button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 2rem;
	text-align: center;
}
.projects .button a:first-child {
	margin-right: 2rem;
}
.projects .button a:last-child {
	border: 1px solid #cccccc;
	color: #cccccc;
	pointer-events: none;
}
.projects .button a:hover:last-child {
	background-color: transparent;
	border: 1px solid #cccccc;
	color: #cccccc;
}
.projects .button a {
	background: transparent;
	color: #616161;
	border: 1px solid #adadad;
	display: block;
	font-size: 1.2rem;
	font-weight: 500;
	padding: .5rem 1rem;
	text-transform: uppercase;
}
.projects .button a:hover,
.projects .button a:focus {
	background-color: #04c2c9;
	color: #ffffff;
}

/* contact style */
.svgbg-contact {
	position: relative;
	top: calc(-5rem - 1px);
	height: 5rem;
}
.svgbg-contact path {
	fill: #f1f1f1;
	stroke: #f1f1f1;
}
.contact {
	background-color: #252934;
	padding: 5rem 0;
}
.contact_header {
	padding-bottom: 3rem;
}
.contact_header h2 {
	color: #ffffff;
}
.contact_header hr {
	background-color: #ffffff;
}
.contact_header p {
	color: #04c2c9;
	padding-top: 1rem;
}
.contact_form {
	max-width: 40rem;
	margin: 0 auto;
}
.contact_form form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.contact_form input, .contact_form textarea {
	background-color: #1E242C;
	border: 0;
	color: #ffffff;
	padding: 1rem;
}
.contact_form input {
	margin-bottom: 1rem;
}
.contact_form__button {
	text-align: right;
}
.contact_form .button {
	background-color: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	cursor: pointer;
	font-size: 1.3rem;
	font-weight: 500;
	margin-top: 2rem;
	padding: .6rem;
	text-transform: uppercase;
	width: 10rem;
}
.contact_form .button:hover,
.contact_form .button:focus {
	background-color: #04c2c9;
}

/* footer style */
.footer {
	background-color: #1B242F;
	padding: 5rem 0;
}
.footer_soc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
}
.footer_soc a {
	background-color: #262F38;
	color: #ffffff;
	font-size: 2rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 1rem;
	overflow: hidden;
	height: 5rem;
	width: 5rem;
	-webkit-transition: -webkit-transform .2s linear;
	transition: -webkit-transform .2s linear;
	-o-transition: transform .2s linear;
	transition: transform .2s linear;
	transition: transform .2s linear, -webkit-transform .2s linear;
}
.footer_soc a:hover {
	background-color: #04c2c9;
	-webkit-box-shadow: 0 0 .4rem #04c2c9;
	        box-shadow: 0 0 .4rem #04c2c9;
	-webkit-transform: scale(.9);
	    -ms-transform: scale(.9);
	        transform: scale(.9);
}
.footer_soc a:hover i {
	-webkit-animation: socDown .2s linear;
	        animation: socDown .2s linear;
}
@-webkit-keyframes socDown {
	40% {
		-webkit-transform: translateY(100%);
		        transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		        transform: translateY(-100%);
	}
	60% {
		opacity: 1;
	}
}
@keyframes socDown {
	40% {
		-webkit-transform: translateY(100%);
		        transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		        transform: translateY(-100%);
	}
	60% {
		opacity: 1;
	}
}
.footer h5 {
	text-transform: uppercase;
}
.footer h5 span {
	color: #E31B6D;
	margin-left: .5rem;
}

/* back-to-top style */
#back-to-top {
	background-color: #E31B6D;
	color: #ffffff;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 2.5rem;
	overflow: hidden;
	position: absolute;
	top: -7rem;
	height: 4rem;
	width: 3.7rem;
}
#back-to-top:hover i {
	-webkit-animation: toTop .2s linear;
	        animation: toTop .2s linear;
}
@-webkit-keyframes toTop {
	40% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		        transform: translateY(-100%);
	}
	60% {
		-webkit-transform: translateY(100%);
		        transform: translateY(100%);
	}
}
@keyframes toTop {
	40% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		        transform: translateY(-100%);
	}
	60% {
		-webkit-transform: translateY(100%);
		        transform: translateY(100%);
	}
}

/* language toggle style */
.toggle-language {
	position: fixed;
	top: calc(50% - 2rem);
	left: .5rem;

}
.toggle-language img {
	border: 1px solid #000000;
	width: 3rem;
}
.toggle-language img:hover {
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}

/* Extra Large desktops and laptops */
@media (min-width: 1920px) {
	html, body {
		font-size: 16px;
	}
}
@media (min-width: 1440px) and (max-width: 1919px) {
	html, body {
		font-size: 14px;
	}
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
	html, body {
		font-size: 12px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html, body {
		font-size: 11px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html, body {
		font-size: 10px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-size: 8px;
	}

	/* about style */
	.about_info__item {
		max-width: 50%;
		width: 100%;
	}
	.about_me__image {
		margin: 0rem 2rem;
		width: 18rem;
	}

	/* skills style */
	.skills_info__item {
		width: calc(25% - 2rem);
	}

	/* projects style*/
	.projects_info__item {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.projects_info__item_image {
		width: 100%;
	}
	.projects_info__item_description {
		padding-top: 0;
		width: 100%;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	html, body {
		font-size: 6px;
	}

	/* about style */
	.about_info__item {
		max-width: 100%;
		width: 100%;
	}
	.about_me__image {
		margin: 0rem 2rem;
		width: 15rem;
	}

	/* skills style */
	.skills_info__item {
		width: calc(33% - 2rem);
	}

	/* projects style*/
	.projects_info__item {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
	.projects_info__item_image {
		width: 100%;
	}
	.projects_info__item_description {
		padding-top: 0;
		width: 100%;
	}
}